XBlock>=1.2

edx-opaque-keys>=0.4
Django~=1.11; python_version == '2.7'
Django~=2.2; python_version > '2.7'
-e git+https://github.com/edx/xblock-utils.git@2.0.0#egg=xblock-utils
-e .

pylint
pycodestyle==2.4.0
