/* CSS for ScormXBlock */


.scormxblock_hostframe {
	border: 0;
	height: 300px;
	width: 100%;
	overflow-y: scroll
}

.scormxblock_block .scorm_description {
	margin: 1em 0;
	padding: 1em;
}

.scormxblock_block .scorm_weight {
	font-size: 80%;
}

.scormxblock_block .scorm_launch {
	margin: 1em 0;
}

#scorm_file{
	display: none;
}

.status-container{
	display: none;
	margin-top: 30px;
}

.status-container .success-msg {
    color: green;
    margin-top: 10px;
}

.status-container .status-element{
	float: left;
	margin-left: 15px;
}

.status-container .status-element.current-step{
	margin-left: 0;
}

.progress-container {
	width: 300px;
}

.progress-container .progress {
	overflow: hidden;
	height: 18px;
	background-color: #f7f7f7;
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0;
}

.progress-container .progress .bar {
	height: 18px;
	background-color: #0e90d2;
	background-image: linear-gradient(top, #149bdf, #0480be);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	transition: width 0.6s ease;
}
